.button-cash-add {
    background-color: lightgreen;
    color: #fff;
    padding: 10px;
    border: 1px solid lightgreen;
    cursor: pointer;
}
.button-cash-get {
    background-color: tomato;
    color: #fff;
    padding: 10px;
    border: 1px solid tomato;
    cursor: pointer;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.block {
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}
.button-customer-add {
    background-color: lightblue;
    color: #fff;
    padding: 10px;
    border: 1px solid lightblue;
    cursor: pointer;
}
.button-all-add {
    background-color: lightcoral;
    color: #fff;
    padding: 10px;
    border: 1px solid lightcoral;
    cursor: pointer;
}
.customer {
    border: 1px solid #cecece;
    padding: 10px;
    margin-bottom: 10px
}